---
layout: default
---

<section class="hero">
	<h1>Blog</h1>
	<h2>Updates and accouncements from the Pricehare crew.</h2>
</section>

{% for post in paginator.posts %}

<article>
    <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
    <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
    {{ post.excerpt }}
    <a href="{{ post.url }}">Keep reading&hellip;</a>
</article>

{% else %}

<div class="message generic">No posts could be found, sorry.</div>

{% endfor %}

{% include pagination.html %}
