<footer class="width">
	<div class="inner">
		<ul>
			<li class="copy-notice">&copy; Pricehare 2015</li>
			<li><a href="http://pricehare.com">Pricehare.com</a></li>
			<li><a href="http://pricehare.com/help">Help</a></li>
			<li><a href="http://blog.pricehare.com">Blog</a>
			<li><a href="http://pricehare.com/bookmarklet">Bookmarklet</a>
			<li><a href="http://twitter.com/pricehare" target="_blank">Twitter</a></li>
			<li><a href="http://pricehare.com/privacy">Terms &amp; Privacy</a></li>
		</ul>
	</div>
</footer>