/* --------------------------------------------------------
	EXTENDS
-------------------------------------------------------- */

.box {
	@include border(1px, $border-color, solid, $border-radius);
}

.plain-ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.title {
	text-transform: uppercase;
	font-size: .875em;
	color: $grey;
}

/* --------------------------------------------------------
	BLOG
-------------------------------------------------------- */

.post-meta {
	@extend .title;
}

/* Items in post list */

article {
	margin-bottom: 40px;

	h2 {
		font-size: 1.25em;
		margin: 10px 0 20px 0;

		a {
			color: $text-color;
		}

	}

	.post-meta {
		margin: 0;
	}

}

/* Individual post */

.post {

	.post-header {
		border-bottom: 1px solid $border-color;
		margin-bottom: 40px;
	}

	.tagged-with {
		@extend .plain-ul;
		font-size: .875em;
		overflow: hidden;
		margin: 40px 0;

		li {
			float: left;
			margin-right: 5px;
			display: inline-block;
			@include border(1px, $border-color, solid, $border-radius);
			color: $grey;
			padding: 5px 10px;

			&.tagged-lead {
				color: $text-color;
				border: 0;
				padding-left: 0;
				padding-right: 0;
				font-weight: 700;
			}

		}

	}

	h1 {
		font-size: 1.25em;
		margin: 10px 0 40px 0;
	}

	.post-meta {
		margin: 0;
	}

}

/* Tag list */

.tag-list {
	@extend .plain-ul;

	li {
		margin-bottom: 20px;
	}

	.tagged-post-title {
		display: block;
	}

	.tagged-post-pub-date {
		display: block;
		@extend .title;
	}

}