/* --------------------------------------------------------
	HEADER
-------------------------------------------------------- */

header {
	position: relative;
	border-bottom: 1px solid $border-color;

	.width {
		position: relative;
		height: 60px;
	}

	.logo {
		display: block;
		width: 102px;
		height: 20px;
		background-image: url(/img/ico-logo-text-blue.png);
		background-size: 102px;
		background-position: center;
		background-repeat: no-repeat;
		position: absolute;
		top: 50%;
		margin-top: -10px;
		left: 50%;
		margin-left: -51px;

		&:hover {
			color: $yellow;
		}

	}

	.rss {
		position: absolute;
		top: 50%;
		margin-top: -16px;
		right: 20px;
	}

}