/* --------------------------------------------------------
	PAGINATION
-------------------------------------------------------- */

.pagination {
	margin: 0 0 40px 0;
	position: relative;
	text-align: center;
	overflow: hidden;

	.pagination-back,
	.pagination-next {
		display: inline-block;
		height: 30px;
		line-height: 30px;
		padding: 0 10px;
		@include border(1px, $border-color, solid, $border-radius);
		color: $grey;

		&:hover {
			color: $text-color;
		}

	}

	.pagination-back {
		float: left;
	}

	.pagination-next {
		float: right;
	}

}

.page-number {
	position: absolute;
	height: 32px;
	line-height: 32px;
	width: 300px;
	display: block;
	left: 50%;
	margin-left: -150px;
	@extend .title;
}