/* --------------------------------------------------------
	TYPE
-------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 {
	font-weight: 700;

	&.page-title {
		text-align: center;
		border-bottom: 1px solid $border-color;
		padding: 0 0 40px 0;
		margin: 0 0 40px 0;
		font-size: 1.5em;
		text-transform: uppercase;
	}

}

.hero {
	text-align: center;
	padding: 40px 0 80px 0;
	border-bottom: 1px solid $border-color;
	margin-bottom: 40px;

	&.post--hero {
		margin: 0;
		border: 0;
	}

	h1 {
		font-size: 2.5em;
		margin: 0;
		font-weight: 200;
	}

	h2 {
	    font-size: 1.125em;
	    color: $grey;
	    font-weight: 400;
	    margin: 40px 0 0 0;
	}

	em {
		color: $text-color;
	}

}

strong {
	font-weight: 700;
}

a {
	text-decoration: none;
	color: $blue;
	cursor: pointer;

	&:hover {
		color: $text-color;
	}

}

header {

	.route-sign-in,
	.route-sign-out  {
		color: white;

		&:hover {
			color: $yellow;
		}

	}

}

.last-updated {
	color: $grey;
	font-style: italic;
	font-size: .875em;
}