/* --------------------------------------------------------
    VARIABLES
-------------------------------------------------------- */

/* --------------------------------------------------------
    FONTS
-------------------------------------------------------- */

$font-family: 'Open Sans', sans-serif;
$font-weight: 400;
$font-size: .875em;
$line-height: 1.5em;

/* --------------------------------------------------------
    COLOURS
-------------------------------------------------------- */

$text-color: #3a4351;
$blue: #1c7bf1;
$green: #7ac673;
$red: #ff5353;
$yellow: #fff570;
$grey: #9193a6;
$light-grey: #f5f7f9;

/* --------------------------------------------------------
    BORDERS
-------------------------------------------------------- */

$border-color: #cdd6e2;
$border-radius: 3px;

/* --------------------------------------------------------
    WIDTHS
-------------------------------------------------------- */

$width: 720px;
$breakpoint: 960px;

/* --------------------------------------------------------
    GRID
-------------------------------------------------------- */