---
layout: default
---
<div class="post">

	<div class="post-header">
		<p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</p>
		<h1 class="post-title">{{ page.title }}</h1>
	</div>

	{% for tag in page.categories %}
	<a href="/categories/#{{ tag }}">{{ tag }}</a>
	{% endfor %}

	{{ content }}

	{% if page.tags %}
	<ul class="tagged-with">
		<li class="tagged-lead">Tagged with:</li>
		{% for tag in page.tags %}
		<li><a href="/tags/#{{ tag }}">{{ tag }}</a></li>
		{% endfor %}
	</ul>
	{% endif %}

</div>
